# General
/node_modules
.env

# JetBrains
.idea
/.idea
.idea/*
.idea/workspace.xml

# Core
/Modules/Core/Core_ids.json
/Modules/Core/Core_config.json
/Modules/Core/Core_keys.json
Modules/Core/Core_keys.json

# Library - Declutter
/Modules/Library/prayerReqs.json
/Modules/Core/SSH/

# Build
/Deploy/

# Keys
/Modules/Keys/fishsticks-ccg.private-key.pem
.claude/settings.local.json
